# -----------------------------
# Dependencies
# -----------------------------
node_modules/

# -----------------------------
# Expo
# -----------------------------
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# -----------------------------
# Native Generated (Expo Prebuild)
# -----------------------------
/android
/ios

# -----------------------------
# EAS
# -----------------------------
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# -----------------------------
# Logs
# -----------------------------
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# -----------------------------
# macOS / Windows
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Environment Files
# -----------------------------
.env
.env.*
.env.local
.env*.local

# -----------------------------
# TypeScript
# -----------------------------
*.tsbuildinfo

# -----------------------------
# Metro / Cache
# -----------------------------
.metro-health-check*
.cache/

# -----------------------------
# Misc
# -----------------------------
*.orig.*
